<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.sc.clgg"
          android:installLocation="auto">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:xlargeScreens="true"/>

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true"/>

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_GPS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <!-- <uses-permission android:name="android.permission.GET_ACCOUNTS"/> -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <!-- <uses-permission android:name="android.permission.RECORD_AUDIO"/> -->
    <!-- <uses-permission android:name="android.permission.SEND_SMS"/> -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <!-- <uses-permission android:name="android.permission.USE_CREDENTIALS"/> -->
    <!-- <uses-permission android:name="android.permission.VIBRATE"/> -->
    <!-- <uses-permission android:name="android.permission.WAKE_LOCK"/> -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- Bugly权限 -->
    <!--
<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    -->
    <!-- Bugly权限 -->
    <!-- 高德地图权限 -->
    <!-- &lt;!&ndash;允许程序打开网络套接字&ndash;&gt; -->
    <!-- <uses-permission android:name="android.permission.INTERNET" /> -->
    <!-- &lt;!&ndash;允许程序设置内置sd卡的写权限&ndash;&gt; -->
    <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> -->
    <!-- &lt;!&ndash;允许程序获取网络状态&ndash;&gt; -->
    <!-- <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> -->
    <!-- &lt;!&ndash;允许程序访问WiFi网络信息&ndash;&gt; -->
    <!-- <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> -->
    <!-- &lt;!&ndash;允许程序读写手机状态和身份&ndash;&gt; -->
    <!-- <uses-permission android:name="android.permission.READ_PHONE_STATE" /> -->
    <!-- &lt;!&ndash;允许程序访问CellID或WiFi热点来获取粗略的位置&ndash;&gt; -->
    <!-- <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> -->
    <!-- 高德地图权限 -->
    <application
        android:name=".application.App"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:logo="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="allowBackup">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <!-- 高德地图KEY设置 -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="e377e84ed090fadee7aab76f2f32f096"/>

        <service android:name="com.amap.api.location.APSService"/>

        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LaunchActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity
            android:name=".activity.my.MyVehicleActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.vehicle.locate.LocationDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity
            android:name=".activity.vehicle.locate.LocateActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.my.set.AboutUsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.vehicle.mileage.PathRecordActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.my.AddVehicleActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name=".activity.WebActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTheme"/>
        <activity
            android:name=".activity.my.set.ModifyPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTheme"/>
        <activity
            android:name=".activity.login.ForgetPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTheme"/>
        <activity android:name=".activity.vehicle.ServiceStationActivity"/>
        <activity
            android:name=".activity.vehicle.RepairActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.vehicle.tally.RecordActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.vehicle.fault.FaultDiagnosisActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity
            android:name=".activity.vehicle.mileage.MileageActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.vehicle.energy.ConsumptionStatisticalActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.vehicle.energy.ConsumptionDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.vehicle.mileage.MileageDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.vehicle.tally.TallyBookActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.friendscircle.PublishDynamicActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.my.userinfo.PersonalDataActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.my.userinfo.GenderActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.my.userinfo.NickNameActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.my.userinfo.ModifyAccountActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.my.SetActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.my.set.FeedbackActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.my.MyMessageActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.my.NewsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.login.LoginRegisterActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.vehicle.fault.FaultDetailActivity"
            android:screenOrientation="portrait"/>

        <!-- 分享 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/noStyle"/>
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="tencent1105755915"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".activity.vehicle.locate.ShareActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentFullScreenTheme"/>
        <activity
            android:name=".activity.friendscircle.CommentActivity"
            android:theme="@style/TranslucentFullScreenTheme"
            android:windowSoftInputMode="stateVisible|adjustResize"/>
        <activity
            android:name=".activity.my.DynamicDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.friendscircle.PictureActivity"
            android:screenOrientation="portrait"/>

        <service
            android:name=".service.AppService"
            android:exported="false"/>

        <activity android:name=".activity.etc.InteractiveDetailActivity"/>
        <activity android:name=".activity.etc.RechargeActivity"/>
        <activity android:name=".activity.etc.ReadCardActivity"/>
        <activity android:name=".activity.etc.WriteCardActivity"/>
        <activity android:name=".activity.etc.WriteCardSuccessActivity"/>
        <activity android:name=".activity.etc.PayResultActivity"/>
        <activity android:name=".activity.etc.MyCardActivity"/>
        <activity
            android:name=".activity.etc.ETCActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".activity.etc.PreRechargeActivity"/>
        <activity android:name=".activity.etc.IdentityCertificationActivity"/>
        <activity android:name=".activity.etc.BalanceQueryActivity"/>
        <activity android:name=".activity.etc.VehicleCertificationActivity"/>
        <activity android:name=".activity.etc.InfoCertificationActivity"/>
        <activity
            android:name=".activity.etc.AuditActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.etc.SubmitApplyActivity"/>
        <activity android:name=".activity.etc.CardIntroduceActivity"/>
        <activity android:name=".activity.etc.ApplyStateActivity"/>
        <activity android:name=".activity.etc.CardDetailActivity"/>
        <activity android:name=".mvvm.m.LiveDataActivity"/>
        <activity android:name=".activity.etc.ble.BleActivity"/>

        <service
            android:name="com.genvict.bluetooth.manage.BlueToothService"
            android:enabled="true"/>

        <activity android:name=".activity.etc.BalanceQueryPreActivity">
        </activity>
        <activity android:name=".activity.etc.PreRechargeFinishActivity">
        </activity>
    </application>

</manifest>